@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Bienvenido</h1>
    <p>Esta es una página para el manejo de deportes, donde puedes gestionar jugadores, equipos y más.</p>
    <img src="https://files.antena2.com/antena2/public/styles/imagen_despliegue/public/2022-08/ligas.jpg.webp?VersionId=cGkHodwLe57ymmJk.UcIhz2ZdOqv4LiO&itok=MQzPhGol"
         alt="Fútbol" class="img-fluid" style="max-width: 50%; height: auto;">
</div>
